$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts";
// $fa-font-path: "~/fonts/";
@import "node_modules/font-awesome/scss/font-awesome";
$primary: #464646;
@import "node_modules/bulma/bulma";

h1.title {
    color: $primary;
    font-family: "chaparral-pro", sans-serif;
    font-size: 64px;
    font-weight: 500;
}